.ui-page-theme-a .ui-focus {
    -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 0px rgba(0, 0, 0, 0.2);
}

/*HOME PAGE*/
.home-list-item {
    height: 100px;
}

.date-div,
.location-div {
    display: inline-block;
}

.event-pic {
    padding: 0 10px;
    width: 70px;
    height: 70px;
    float: left;
}

.event-name {
    margin: 0 0 15px 0;
    font-size: 1.2em;
}

.event-data {
    margin: 5px 11px 0px 5px;
    float: left;
    font-size: 0.75em;
}

/*MENU PAGE*/
.menu-page-item {

}

.menu-page-item .ui-btn {
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.menu-page-item .ui-btn:after {
    background-size: 20px;
    border-radius: 0;
    width: 20px;
    height: 23px;
}

.error-class {
    font-size: 150%;
    color: red;
    font-weight: bold;
    text-align: center;
}

.success-class {
    font-size: 150%;
    color: green;
    font-weight: bold;
    text-align: center;
}

.announcement-time {
    float: right;
}

.form-layout {
    background: white;
    width: 100%;
    border-radius: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: "Times New Roman", Times;
}

/* Class for positioning the text area */
.form-text-layout {
    padding: 10px 10px;
    width: 70%;
}

#map, #map-canvas {
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Class for the text and background color*/
.form-text {
    border: 0px solid #FFF;
    background: white;
    vertical-align: middle;
    color: black;
    min-width: 50%;
}